*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    background: radial-gradient(#C6BB9F,#2C3637);
    color: rgb(221, 221, 221);
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
}
#nav > h3{
    font-weight: 800;
}
#nav a{
    margin-right: 10px;
    text-decoration: none;
    color:  rgb(221, 221, 221);
}
#heading{
    padding: 5px 160px;
    font-size: 270px;
    font-weight: 400;
}

#img1{
    height: 270px;
    width: 240px;
    position: absolute;
    left: 65%;
    top: 49%;
}

#img2{
    height: 300px;
    width: 230px;
    position:absolute;
    left: 40%;
    top: 60%;
}
#img3{
    height: 200px;
    width: 220px;
    position: absolute;
    left: 55%;
    top: 79%;
}

#bottom-div{
    width: 200px;
    margin-left: 40px;
    margin-bottom: 30px;
}
#bottom-div h3{
    margin-top: 20px;
}

#last-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 100px 40px; */
    padding: 50px 40px;
}