*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    
}
#nav > h3{
    font-weight: 800;
}
#nav a{
    margin-right: 10px;
    text-decoration: none;
    color: black;
}
#heading{
    padding: 5px 160px;
    font-size: 270px;
    font-weight: 400;
}

#img1{
    height: 330px;
    width: 270px;
    position: absolute;
    left: 55%;
    top: 47%;
}

#img2{
    height: 300px;
    width: 200px;
    position:absolute;
    left: 30%;
    top: 60%;
}
#img3{
    height: 200px;
    width: 220px;
    position: absolute;
    left: 40%;
    top: 79%;
}